/* Base */
$blue: #212258;
$red: #7b0002;
$light_blue: #e1e2fc;
$light_black: #dfdfdf;

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@media (max-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Header */
header {
  .logo{
    height: 50px;
  }
  .navbar-default {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
    .navbar-nav{
      padding: 1.5rem;
    }
  }
}

@media (max-width: $md) {
  header {
    .logo{
      height: 30px;
    }
  }
}

@media (min-width: $md) {
  header {
    .logo{
      height: 50px;
    }
  }
}

/* Footer */
footer{
  background-color: $red;
  color: #fff;
  padding: 30px 0;
  line-height: 2;
  .social_icon{
    width: 20px;
    color: #fff;
    margin: 20px 20px 10px 0px;
  }
}

/* Home */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
}

html {
  font-size: 1rem;
}

#introduce{
  .jumbotron{
    background: url(../img/introduce.jpg) no-repeat center;
    background-size: cover;
    min-height: 700px;
    color: #fff;
    padding: 30px 0;
    border-radius: 0;
    
    .banner_text{
      position: relative;
      margin:0;
      padding: 150px 80px;
      max-width: 900px;
    }

    .banner_text:before{
      content: url("/img/inverted-commas-image.png");
      position: absolute;
      left: 0px;
    }
    
    .btn_custom{
      color: #fff;
      background-color: $red;
      border: 0;
      border-radius: 3;
      padding: 10px 20px;
      margin: 30px 0;
    }

    .banner_bottom_panel{
      position: relative;
      bottom: 20px;
      .panel_list{
        position: absolute;
        right: 0;
        display: flex;
        background-color: $red;
        li{
          margin: 20px 35px 20px 0px;
          list-style-type: none;
          a{
            color: #fff;
          }
          a:hover{
            text-decoration: none;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media (max-width: $md) {
  #introduce{
    .jumbotron{
      min-height: 100px;
      .banner_text{
        padding: 120px 0px;
        h1{
          font-size: 1.5rem;
        }
        h4{
          font-size: 1rem;
        }
      }
      .banner_text:before{
        display: none;
      }
    }
  }
}
