/* FLAGS SPRITES */
.flags{width:29px; height:29px; background:url("/assets/images/ui/supported_languages_flags2.png") no-repeat -44px -384px; display:inline-block; vertical-align:middle; border-radius: 50px;box-shadow: 0 0 2px 1px #ddd;}
.flag-af{background-position:0 0;}
.flag-am{background-position:0 -25px;}
.flag-ar{background-position:0 0;}
.flag-arn{background-position:0 -75px;}
/* .flag-as{background-position:0 -98px;} */
.flag-as{background-position:0 -479px;}
.flag-az{background-position:0 -128px;}
.flag-ba{background-position:0 -150px;}
.flag-be{background-position:0 -175px;}
.flag-bg{background-position:-89px -321px;}
.flag-bn{background-position:-43px 0;}
.flag-bo{background-position:0 -250px;}
.flag-br{background-position:0 -275px;}
.flag-bs{background-position:0 -288px;}
.flag-bur,.flag-my{background-position:-133px 0;}
/* .flag-ca{background-position:0 -350px;} */
.flag-ca{background-position:-89px -32px;}
.flag-co{background-position:0 -375px;}
.flag-cs{background-position: -89px 0;}
.flag-cy{background-position:0 -425px;}
.flag-da{background-position: -133px -34px;}
.flag-de{background-position: -89px -64px;}
.flag-div{background-position:0 -500px;}
.flag-el{background-position: -133px -101px;}
.flag-en,.flag-en_E{background-position:-89px -192px;}
.flag-sp-la, .flag-sp-eu{background-position:-44px -289px;}
/* .flag-es-la,.flag-sp-la{background-position:0 -600px;} */
.flag-es{background-position:0 -625px;}
.flag-et{background-position: -89px -513px;}
.flag-eu{background-position:-133px -428px;}
.flag-fa,.flag-far{background-position: -44px -63px;}
.flag-fi{background-position: -133px -68px;}
.flag-fil{background-position: -89px -32px;}
.flag-fo{background-position:0 -775px;}
.flag-fr{background-position: -44px -95px;}
.flag-fy{background-position:0 -825px;}
.flag-ga{background-position:0 -850px;}
.flag-gd{background-position:0 -875px;}
.flag-gl{background-position:0 -900px;}
.flag-gsw{background-position:0 -925px;}
.flag-gu{background-position:0 -950px;}
.flag-ha{background-position: 0 -543px;}
.flag-he{background-position: 0 -128px;}
.flag-hi{background-position: -44px -127px;}
.flag-hmn{background-position: -89px -96px;}
.flag-hr{background-position:0 -1075px;}
.flag-hu{background-position: -133px -134px;}
.flag-hy{background-position:0 -1125px;}
.flag-id{background-position: 0 -161px;}
.flag-ig{background-position: -89px -577px;}
.flag-ii{background-position:0 -1200px;}
.flag-is-zu{background-position:0 -1225px;}
.flag-is{background-position:-133px -461px;}
.flag-it{background-position: -44px -159px;}
.flag-iu{background-position:0 -1300px;}
.flag-ja{background-position: -89px -128px;}
.flag-ka{background-position: -133px -559px;}
/* .flag-kk{background-position:0 -1400px;} */
.flag-kk{background-position:-89px -513px;}
.flag-kl{background-position:0 -1425px;}
.flag-km{background-position: -133px -167px;}
.flag-kn{background-position:-133px -494px;}
.flag-ko{background-position: 0 -192px;}
.flag-kok{background-position:0 -1525px;}
/* .flag-ku{background-position:0 -1550px;} */
.flag-ku{background-position:-89px -545px;}
.flag-ky{background-position:0 -1575px;}
.flag-lat{background-position:0 -1600px;}
.flag-lb{background-position:0 -1625px;}
.flag-lo{background-position: -44px -191px;}
.flag-lt{background-position:-133px -527px;}
.flag-lv{background-position: -89px -160px;}
.flag-mal{background-position:0 -1725px;}
.flag-mar{background-position:0 -1750px;}
.flag-mi{background-position:0 -1775px;}
.flag-min,.flag-ium{background-position:0 -1800px;}
/* .flag-mk{background-position:0 -1825px;} */
.flag-mk{background-position:-89px -577px;}
.flag-mn{background-position: 0 -224px;}
.flag-moh,.flag-fr-CA{background-position: 0 -96px;}
.flag-mrs,.flag-mh{background-position:0 -1900px;}
.flag-ms{background-position: -133px -199px;}
/* .flag-mt{background-position:0 -1950px;} */
.flag-mt{background-position:-89px -481px;}
.flag-na{background-position:0 -1975px;}
/* .flag-ne{background-position:-35px -25px;} */
.flag-ne{background-position: 0 -447px;}
.flag-nl{background-position: 0 -65px;}
/* .flag-nno,.flag-nn{background-position:-35px -75px;} */
.flag-nno, .flag-nb, .flag-nn{background-position: -44px -223px;}
.flag-oc{background-position:-35px -100px;}
.flag-ori{background-position:-35px -125px;}
.flag-pl{background-position: -133px -232px;}
.flag-prs{background-position:-35px -175px;}
.flag-ps{background-position:-35px -200px;}
.flag-pt-br{background-position:-35px -225px;}
.flag-pt-eu, .flag-pt-la, .flag-pt, .flag-pt-br{background-position: 0 -256px;}
.flag-pun{background-position: -44px -127px;}
.flag-pa{background-position:-35px -325px;}
.flag-qut{background-position:-35px -350px;}
.flag-quz{background-position:-35px -375px;}
.flag-rm{background-position:-35px -400px;}
.flag-ro{background-position: -133px -264px;}
.flag-ru{background-position: 0 -287px;}
.flag-rw{background-position:-35px -475px;}
.flag-sa{background-position:-35px -500px;}
.flag-sah{background-position:-35px -525px;}
.flag-se{background-position:-35px -550px;}
.flag-si{background-position: 0 -607px;;}
.flag-sk{background-position: -133px -296px;}
.flag-sl{background-position: 0 -319px;}
.flag-smo,.flag-sm{background-position:-35px -650px;}
.flag-snd,.flag-pk-sd, .flag-ur, .flag-pa,.flag-sd{background-position: -89px -256px;}
.flag-sot{background-position:-35px -700px;}
.flag-sq{background-position:-35px -725px;}
.flag-sr{background-position: 0 -351px;}
.flag-sv{background-position: -133px -329px;}
/* .flag-sw{background-position:-35px -800px;} */
.flag-sw{background-position: 0 -511px;}
.flag-syr{background-position:-35px -825px;}
.flag-ta-IN{background-position: -89px -287px;}
.flag-te{background-position:-35px -875px;}
.flag-tg{background-position: -44px -321px;}
.flag-tgl,.flag-tl{background-position: 0 -351px;}
.flag-th{background-position: -133px -362px;}
.flag-ti{background-position:-35px -975px;}
.flag-tk{background-position:-35px -1000px;}
.flag-tn{background-position: 0 -575px;}
.flag-tr{background-position: 0 -383px;}
.flag-tt{background-position:-35px -1075px;}
.flag-tzm{background-position:-35px -1100px;}
.flag-uk{background-position: -44px -353px;}
.flag-uy{background-position:-35px -1175px;}
.flag-uz{background-position: -133px -395px;}
.flag-vi{background-position: 0 -415px;}
.flag-wee{background-position:-35px -1250px;}
.flag-wen{background-position:-35px -1275px;}
.flag-wo{background-position:-35px -1300px;}
.flag-xh{background-position:-35px -1325px;}
.flag-zh-CN{background-position: 0 -32px;}
.flag-zh-TW, .flag-zh-HK{background-position: -44px -31px;}
.flag-zu{background-position:-35px -1425px;}
.flag-placeholder{background-position: -44px -384px;}
.flags.flag-kar{background-position: -89px -385px;}
.flags.flag-yo{background-position: -89px -449px;}
.flags.flag-su{background-position: -89px -417px;}
.flags.flag-jv{background-position: -89px -353px;}
.flag-sq{background-position:-44px -417px;}
.flag-hr{background-position:-44px -448px;}
.flag-ml{background-position:-44px -480px;}
.flag-mr{background-position:-44px -512px;}
.flag-te{background-position:-44px -544px;}
/* new flags added on 07-04-2019 */
.flag-ga-IE{background-position: -133px -591px;}
.flag-np{background-position: 0 -447px;}