<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, Zoom= false">

    {% feed_meta %}

    <link rel="icon" type="image/x-icon" href="/assets/images/ui/logo.ico" />
    <link href="/assets/css/app.css" type="text/css" rel="stylesheet" />

    <script src="/assets/js/app_header.js"></script>

    {% seo %}
    <link href="/assets/v3/css/blog.css" type="text/css" rel="stylesheet">

</head>

<style>
    .search-box-sticky{
        width: 300px;
    }
    #hits {
        position: absolute;
        z-index: 1000;
        display: none;
        width: 90%;
    }
    .ais-hits--item {
        background-color: #fff;
        padding: 10px 5px;
        border-radius: 5px;
    }
    .ais-hits--item:hover{
        background-color: #eeeeee;
    }
    .ais-hits--item a{
        text-decoration: none;
    }
</style>

<body>
    <div class="container-fluid container-shadow">
        <div class="row">
            {% include header.html %}
            <!-- CONTENT START -->

            <div class="content_web blog-page">

                <section class="header_block clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="h2">Translation Blog</h1>
                            </div>
                            <div class="breadcrumb_and_search col-sm-6 search-box-sticky">
                                <div id="search-box">
                                </div>
                                <div id="hits">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="blog_wrapper clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-10 col-xs-12">
                                {{ content }}
                            </div>
                            <div class="col-sm-2 col-xs-12 sidebar">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- CONTENT END -->

            {% include footer.html %}
        </div>
    </div><!-- class="container" END -->



    <script src="/assets/js/app_footer.js"></script>

    <!-- algolia search -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css">
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css">


    <script src="/assets/js/search.js"></script>
</body>

</html>