<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, Zoom= false">

    {% feed_meta %}

    <link rel="icon" type="image/x-icon" href="/assets/images/ui/logo.ico" />
    <link href="/assets/css/app.css" type="text/css" rel="stylesheet" />
    
    <script src="/assets/js/app_header.js"></script>
    
    {% seo %}

</head>

<body>

    <div class="container-fluid container-shadow">
        <div class="row">
            {% include header.html %}

            {{ content }}

            {% include footer.html %}
        </div>
    </div><!-- class="container" END -->

    <script src="/assets/js/app_footer.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // testimonial-carousel slides
            var totalSlides = $('#testimonial-carousel .carousel-inner .item').length;
            $('#total-slide').text(totalSlides);

            // testimonial-carousel  current slide
            var currentIndex = $('#testimonial-carousel .carousel-inner .item.active').index() + 1;
            $('#current-slide').text(currentIndex);

            $('#testimonial-carousel').on('slid.bs.carousel', function () {
                currentIndex = $('#testimonial-carousel .carousel-inner .item.active').index() + 1;
                $('#current-slide').text(currentIndex);
            });
            $('#mainCarousel').carousel({
                interval: 6000
            });
            $('.blog_list li .caption').matchHeight();
            // console.log('after match height')
        });
    </script>


</body>


</html>