<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, Zoom= false">

    {% feed_meta %}

    <link rel="icon" type="image/x-icon" href="/img/logo.ico"/>
    <link href="/assets/css/app_homepage.css" type="text/css" rel="stylesheet" />

    <script src="/assets/js/app_header.js"></script>

    {% seo %}

</head>

<body>

    <div class="container-fluid container-shadow">
        <div class="row">
            {% include header.html %}

            {{ content }}
            
            {% include footer.html %}
        </div>
    </div><!-- class="container" END -->


    <script src="/assets/js/app_homepage.js"></script>

    <script type="text/javascript" src="/assets/v3/js/jquery.smartTab.min.js"></script>

    <script type="text/javascript">
        $('.openConsultation').click(function () {
            setCookie('free_consulatation', 1);
            window.location.href = "/free-consultation";
        });

        $('#tabs').smartTab({
            autoProgress: true,
            transitionSpeed: '100',
            stopOnFocus: true,
            keyNavigation: true,
            saveState: true,
            transitionEffect: 'vSlide',
            onShowTab: function () {
                var current_tab_id = $('.tabAnchor li a.sel').attr("href");
                $('#tabs ' + current_tab_id + ' .counter_block .counter').each(function () {
                    var text = $(this).text()
                    var text = text.replace(/\,/g, '');
                    $(this).prop('Counter', 0).animate({
                        Counter: text
                    }, {
                            duration: 2000,
                            easing: 'swing',
                            step: function (now) {
                                now = Number(Math.ceil(now)).toLocaleString('en');
                                $(this).text(now);
                            },
                        });
                });

            }
        });

    </script>


    <script src="/assets/js/app_useractivitienoti.js"></script>
    <script>
        $(document).ready(function () {

            initNotification();
        });

        var popupAllowed = 1;

        function initNotification() {
            $.ajax({
                type: 'POST',
                url: '/get-all-activity-notifications',
                dataType: 'JSON',
                success: function (data) {
                    var delay;
                    // if(popupAllowed==1) {
                    for (var i = 0; i < data.length; i++) {
                        if (i == 0) {
                            delay = 5000;
                        } else {
                            delay = delay + 7000;
                        }
                        var image = '/assets/images/ui/notification-img1.jpg';
                        if (data[i].type == 6) {
                            image = '/assets/images/ui/notification-img2.jpg';
                        } else if (data[i].type == 7) {
                            image = '/assets/images/ui/notification-img3.jpg';
                        }
                        showNotification(delay, image, data[i].msg, data[i].username, data[i].dateStr, data[i].id, i, data.length);
                    }
                },
            });
        }

        var popupTimeout = true;

        function showNotification(delay, imgPath, msg, username, timestr, notificationId, iteration, totalIterations) {
            setTimeout(function () {
                //            <a aria-hidden="true" href="javscript:void(0);" class="" data-notify="dismiss">x</a>
                if (popupTimeout) {

                    $.notify({
                        title: '',
                        message: '',
                    },
                        {
                            template: '<div class="user_activity_alert media">' +
                                '<div class="media-left">' +
                                '<img src="' + imgPath + '" class="media-object">' +
                                '</div>' +
                                '<div class="media-body">' +
                                '<a aria-hidden="true" href="javascript:void(0);" onclick="onNotificationClose();" class="fa fa-times-circle" data-notify="dismiss"></a>' +
                                '<h4 class="media-heading">' + username + '</h4>' +
                                '<p class="desc">' + msg + '</p>' +
                                '<p class="time">' + timestr + '</p>' +
                                '</div>' +
                                '</div>',
                            // timer: 500000000,
                            delay: 4000,
                            allow_dismiss: true,
                            animate: {
                                enter: 'animated fadeInUp',
                                exit: 'animated fadeOutUp'
                            },
                            placement: {
                                from: "bottom",
                                align: "left"
                            }

                        });
                    if ($.cookie('user_activity_notification')) {
                        var user_activity_notification = $.cookie('user_activity_notification');
                        user_activity_notification = user_activity_notification + ',' + notificationId;
                    } else {
                        var user_activity_notification = notificationId;
                    }

                    $.cookie('user_activity_notification', user_activity_notification, {
                        expires: 700000,
                        path: '/'
                    });

                    if (iteration == totalIterations) {
                        setTimeout(function () {
                            initNotification();
                        }, 300000);
                    }
                }

            }, delay);

        }

        function onNotificationClose() {
            popupTimeout = false;
            $.get('/session_set_popup_notificatons');
            popupAllowed = 0;
            // $('.css_add').html('<style>.user_activity_alert.media{display:none;}</style>');
            $('.user_activity_alert.media').hide();
        }

    </script>

    <script>
        window._pcq = window._pcq || [];
        _pcq.push(['APIReady', callbackFunction]);
        _pcq.push(['subscriptionFailureCallback', callbackFunctionOnFailedSubscription]); //registers callback function to be called when user gets successfully subscribed
        _pcq.push(['subscriptionSuccessCallback', callbackFunctionOnSuccessfulSubscription]); //registers callback function to be called when user gets successfully subscribed

        function callbackFunctionOnSuccessfulSubscription(subscriberId, values) {
            addPushCrewSubscriberIdAjax(subscriberId, "addSubscriber", getBrowserName());
        }
        function callbackFunctionOnFailedSubscription(values) {
            addPushCrewSubscriberIdAjax(null, "removeSubscriber", getBrowserName());
        }
        function callbackFunction() {
            if (pushcrew.subscriberId !== false && pushcrew.subscriberId !== -1) {
                addPushCrewSubscriberIdAjax(pushcrew.subscriberId, "addSubscriber", getBrowserName());
            } else if (pushcrew.subscriberId === -1) {
                addPushCrewSubscriberIdAjax(pushcrew.subscriberId, "removeSubscriber", getBrowserName());
            }
        }
        function addPushCrewSubscriberIdAjax(id, taskToPerform, browserName) {
            $.ajax({
                type: "POST",
                url: "/add-push-crew-subscriber-id",
                data: { "subscriberId": id, "taskToPerform": taskToPerform, 'browserName': browserName },
                dataType: 'json',
                success: function (data) {
                }
            });
        }

    </script>

</body>

</html>