<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, Zoom= false">

    {% feed_meta %}

    <link rel="icon" type="image/x-icon" href="/img/logo.ico"/>
    <link href="/assets/css/app_homepage.css" type="text/css" rel="stylesheet" />

    <script src="/assets/js/app_header.js"></script>

    {% seo %}

</head>

<body>

    <div class="container-fluid container-shadow">
        <div class="row">
            {% include header.html %}

            {{ content }}
            
            {% include footer.html %}
        </div>
    </div><!-- class="container" END -->

    <script src="/assets/js/app_homepage.js"></script>

</body>

</html>